

@{ 
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Learn,Shared,Build!</h1>
            <h3>Each month, over 50 million developers come to stack overflow to lern, share their knowledge, and build their careers</h3>
            <p class="lead">Join the world's largest developer community</p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Founded in 2019</div>
            <div class="card-body">
                tack Overflow is a question and answer site for professional and enthusiast programmers. 
                It is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. 
                It features questions and answers on a wide range of topics in computer programming
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Our Partners</div>
            <div class="card-body">
                tack Overflow is a question and answer site for professional and enthusiast programmers.
                It is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky.
                It features questions and answers on a wide range of topics in computer programming
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="card">
            <div class="card-header bg-light">Stack Overflow Offices</div>
            <img class="card-img-top"src="~/Images/world1.svg" alt="Offices" >
            <div class="card-body">
                tack Overflow is a question and answer site for professional and enthusiast programmers.
                It is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky.
                It features questions and answers on a wide range of topics in computer programming
            </div>
        </div>
    </div>
</div>

<script>
    $("a[href='/home/About']").attr("id", "active");
</script>